.phone{
    display: none;
}
.right{
    margin-left: 400px;
}
.nav-link{
    margin-right: 20px;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    z-index: 99;
}
.langing-img{
    overflow: hidden;
}
.label a{
text-decoration: none;
color: black;
text-align: center;
}
.trend{
    text-align: center;
    margin-top: 100px;
}
.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item{
    position: relative;
}
.item:hover .hover-img{
    opacity: 1;
}
.subfooter{
    text-align: center;
    padding: 50px;
    margin-bottom: 150px;
}
.subfooter a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    text-align: center;
}
.space-stores>a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.5);
    font-size: 12px;
}
.space-stores>a:hover{
    color: white;
}
.space-stores{
    padding: 30px;
}
.view{
    text-align: center;
}
.view button{
    outline: none;
    cursor: pointer;
    border: 2px solid black;
    padding: 10px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    background: black;
    color: white;
   }
   
   button{
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .view button:hover{
    background: white;
    color: black;
    transform: skew(10deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   
@media screen and (max-width:570px){
    .html,body{
        overflow-x: hidden;
    }
.desktop{
    display: none;
}
.phone{
    display: block;
}
.landing-img{
    width: 100%;
}
.trend{
    margin-top: 50px;
}
.subfooter{
    margin-bottom: 30px;
}
.space-stores{
    padding: 30px;
    text-align: center;
}
}